{% extends "admin/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Sistema de Inventario de Equipos de C&oacute;mputo</a></h1>
{% endblock %}

{% block content %}

	<h1>{{ titulo }}</h1>
	<br><br>
  <div>
  	{% if equipos %}
  		<table>
  			<thead>
	  			<tr>
	  				<th>Tipo</th>
	  				<th>Responsable</th>
	  				<th>Marca</th>
	  				<th>Modelo</th>
	  				<th>Ubicaci&oacute;n</th>
	  				<th>Fecha</th>
	  				<th>Motivo</th>
	  				<th>Descripci&oacute;n</th>
	  			</tr>
  			</thead>
  			{% for eq in equipos %}
  				<tr>
  					<td><a href="{{ eq.id }}">{{ eq.tipo }}</a></td>
  					<td>{{ eq.user }}</td>
  					<td>{{ eq.marca }}</td>
  					<td>{{ eq.modelo }}</td>
  					<td>{{ eq.ubicacion }}</td>
  					<td>{{ eq.rep.fecha }}</td>
  					<td>{{ eq.rep.motivo }}</td>
  					<td>{{ eq.rep.descipcion }}</td>
  				</tr>
  			{% endfor %}
  		</table>
  	{% else %}
		<strong>No equipos currently in mantenimiento.</strong>
	{% endif %}

  </div>

{% endblock content %}

{% block nav-global %}{% endblock %}