{% extends "admin/base_site.html" %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Sistema de Inventario de Equipos de C&oacute;mputo</a></h1>
{% endblock %}

{% block content %}

	<h1>{{ titulo }}</h1>
  <div>
  <img src="{{ lachart }}" />
  </div>

  	{% if equipos %}
  		<table>
  			<thead>
	  			<tr>
	  				<th>Tipo</th>
	  				<th>Responsable</th>
	  				<th>Marca</th>
	  				<th>Modelo</th>
	  				<th>Ubicaci&oacute;n</th>
	  			</tr>
  			</thead>
  			{% for eq in equipos %}
  				<tr>
  					<td><a href="{{ eq.id }}">{{ eq.tipo }}</a></td>
  					<td>{{ eq.user }}</td>
  					<td>{{ eq.marca }}</td>
  					<td>{{ eq.modelo }}</td>
  					<td>{{ eq.ubicacion }}</td>
  				</tr>
  			{% endfor %}
  		</table>
  	{% else %}
		<strong>No equipos currently in mantenimiento.</strong>
	{% endif %}


{% endblock content %}

{% block nav-global %}{% endblock %}



